<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Math Quiz Home</title>
  <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
  <h1>Math Quiz App</h1>
  <p>Play the Math Quiz!</p>
  <form action="/quiz" method="get">
    <button type="submit">Start Quiz</button>
  </form>
  <form action="/leaderboard" method="get">
    <button type="submit">View Leaderboard</button>
  </form>
</body>
</html>
